* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/bg-bottom.svg"), url("../images/bg-top.svg");
  background-repeat: no-repeat;
  background-position: left bottom, right top;
  background-color: hsl(240, 78%, 98%);
  font-family: Montserrat;
  font-size: 16px;
}

#heading {
  color: hsl(237, 41%, 53%);
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5%;
}

.card-box {
  width: 25rem;
  height: 32rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  margin: 0.5%;
}
/* when the cursor hover the box */
.card-box:hover {
  scale: 1.2;
  transition: 0.5s;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
}

.card-box:hover button {
  background-image: none;
  color: hsl(237, 63%, 64%);
}

hr {
  width: 70%;
}

.price {
  font-weight: 700;
  font-size: 5rem;
  margin: 1%;
}

.dollar {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: 600;
}

button {
  height: 8%;
  width: 70%;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  font-weight: bold;
  border: 0;
  border-radius: 0.3rem;
  color: white;
}

h1 {
  text-align: center;
  margin: 3%;
  opacity: 0.6;
}

.checkbox {
  opacity: 0.6;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#switch {
  display: none;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  color: transparent;
  width: 4rem;
  height: 2rem;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 1.4rem;
  height: 1.4rem;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: purple;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

/* Media query for mobile view */

@media screen and (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10%;
    gap: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .card-box {
    max-width: 320px;
  }
  .card-box:hover {
    scale: none;
  }
}
